
nav ul a,
nav .brand-logo {
  color: #444;
}

.sidenav-trigger {
  color: #000000;
  visibility: hidden;
}

.parallax-container {
  min-height: 657px;
  line-height: 0;
  height: auto;
}

.parallax-container .section {
  width: 100%;
}

.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

#ml{
  letter-spacing: 1px;
  line-height: 30px;
}

#name-header{
  padding-top: 30px;
}

#skills ul > li{
  padding: 10px 0px 5px 0px; 
}
#skills ul > li .skills-title{ 
  display: inline-block; width: 60%; 
}
#skills ul > li .skills-score{ 
  float: right; 
}
#skills ul > li .skills-score .star{ 
	color: #DFE0E0; 
	font-size: 23px; 
	-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#skills ul > li .skills-score .star.filled{ 
  color: #22A39F;
}

#skills ul > li:hover .skills-score .star{ 
  margin-left: 3px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    top: 20%;
  }
  #index-banner .section {
    top: 10%;
  }
  #ml{
    letter-spacing: 1px;
    line-height: 30px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .sidenav-trigger{
    visibility: hidden;
  }
  .parallax-container{
    min-height: 657px;
  }
  #name-header{
    padding-top: 20px;
  }
  #Shyam{
    padding-top: 0px;
    font-size: 35px;
    line-height: 40px;
  }
  #ml{
    padding-top: 0px;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 30px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
